<!-- <p>Hello Everyone, I am {{ name }} from {{ getCityName() }}</p>
<button class="btn btn-primary" [disabled]="!chkbutton" (click)="getServerData()">Add city</button>
<p [innerText]="chkbutton"></p>
<p>{{ serverData }}</p> -->

<div>
      <header> 
      	<div class="centered-top">
      	 
          <span class="glyphicon glyphicon-list"></span> List
        
      		SKILLED FRESHER .IN 
      	<p><b>
stand up for what you know</b>
</p>
</div>

 <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
      <li><a routerLink="/login" routerLinkActive="active">JOBS</a></li>
      <li><a routerLink="/register" routerLinkActive="active">SKILL CHECK</a></li>
      <li><a routerLink="/other" routerLinkActive="active">REGISTER</a></li>
      <li><a routerLink="/other" routerLinkActive="active">INTERNSHIP</a></li>
      <li><a routerLink="/other" routerLinkActive="active">CONTACT US</a></li>
      
      </header>
     <br> 
      <!-- <router-outlet></router-outlet> -->
    </div>